body{
  background-color: slategrey;
}

h1{
  font-family: verdana, arial, "courier new";
}

#p1{
  font-family: "lucida console", "courier new";
}

#p2{
  font-size: 2em;
}

#p3{
  font-weight: bold;
}

#p4{
  font-style: italic;
}