body{
  background-color: RGB(200, 244, 244);
}

h1{
  font-family: verdana, arial, "courier new";
  border: 25px outset RGB(190, 234, 234);
  border-radius: 25px
}

#p1{
  font-family: "lucida console", "courier new";
  
  text-shadow: 3px 4px 2px;
  
  border-bottom: 10px outset RGB(180, 224, 224);
  border-top: 5px inset RGB(180, 224, 224);
  border-left 5px dotted RGB(180, 224, 224);
  border-right: 10px dotted RGB(130, 174, 174);
}

#p2{
  font-size: 2em;
  text-shadow: 3px 4px 2px;
}

#p3{
  font-weight: bold;
}

#p4{
  font-style: italic;
}

#p5{
  font-family: None
}

#box1{
  width: 100px;
  height: 100px;
  background-color: white;
  box-shadow: 4px 5px 3px
}