body{
  background-color: RGB(200, 244, 244);
}

<!--BORDER1-->

h1{
  font-family: verdana, arial, "courier new";
  border: 25px outset RGB(190, 234, 234);
  border-radius: 25px;
}

#p1{
  font-family: "lucida console", "courier new";
  
  text-shadow: 3px 4px 2px;
  
  border-bottom: 10px outset RGB(180, 224, 224);
  border-top: 5px inset RGB(180, 224, 224);
  border-left 5px dotted RGB(180, 224, 224);
  border-right: 10px dotted RGB(130, 174, 174);
}

#p2{
  font-size: 2em;
  text-shadow: 3px 4px 2px;
}

#p3{
  font-weight: bold;
}

#p4{
  font-style: italic;
}

#p5{
  font-family: None;
}

<!--BORDER2-->

#box1{
  width: 50px;
  height: 50px;
  background-color: white;
  box-shadow: 4px 5px 3px;
}

.box{
  border: 5px solid;
  font-size: 2em;
  width: 100px;
  height: 100px;
}

#box2{
  background-color: blue;
  margin: 50px;
}

#box3{
  background-color: red;
  margin: auto;
}

<!--BORDER3-->

#box4{
  float: Left;
  margin-right: 10px;
}

#box5{
  float: Right;
  margin-left: 10px;
}

<!--BORDER4-->

#div1{
  border: 5px solid;
  height: 75px;
  width: 75px;
  overflow: auto;
}

<!--BORDER5-->

#div2{
  background-color: red;
  width: 75px;
  height: 75px;
}

#span1{
  background-color: blue;
  width: 75px;
  height: 75px;
  display: block;
}