body{
  background-color: RGB(200, 244, 244);
}

h1{
  font-family: verdana, arial, "courier new";
  border-style: outset;
  border-width: 26px;
}

#p1{
  font-family: "lucida console", "courier new";
}

#p2{
  font-size: 2em;
}

#p3{
  font-weight: bold;
}

#p4{
  font-style: italic;
}